<html>
<head>
    <link rel=stylesheet type="text/css" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <div class="container">
        <section class="header">
            <div class="title">Catalog App</div>
            <div class="title"><a href="{{url_for('gdisconnect')}}">Logout Button</a></div>
        </section>
        <section class="catalog">Categories
            <div class="categories">
                {% for i in categories %}
                <a href={{url_for('showItem', category=i.cat_id)}}>{{i.cat_name}}</a>
                <br>
                {% endfor %}
            </div>
            <div>
                Recent items
            </div>
        </section>
    </div>
</body>

</html>